@use "variables" as v;
@use "typography" as t;
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600");
body,
html {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  background-color: #f2f4f7;
  color: #262626;
}

.v-sidebar-menu {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #05222a;
  max-width: 250px;
  padding: 0.6rem;
  flex-grow: 1;

  hr {
    height: 1px;
    margin: 5px;
    background-image: linear-gradient(
                    90deg,
                    rgba(0, 0, 0, 0),
                    rgb(245 240 240 / 20%) 50%,
                    rgba(0, 0, 0, 0)
    );
    border: none;
  }
}
