.profile-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;

  &--avatar {
    width: 2.5rem;
    overflow: hidden;
    text-decoration: none;
    border-radius: 4px;

    img {
      display: block;
      width: 100%;
    }
  }

  &--info {
    display: flex;
    flex-direction: column;
    color: $white;
    padding: 0.5rem;

    .profile-block--name {
      font-size: 1.2rem;
    }

    .profile-block--status {
      font-size: 0.8rem;
      opacity: 0.5;
    }
  }
}