$base-font: Arial, sans-serif;

$dark-blue: #05222a;
$blue: #127ea4; //SidebarListItem.vue
$white: #fff; //SidebarListItem.vue
$gray: #6e6e6e; //MessageItem.vue
$lite-gray: #efefef; //MessageItem.vue
